@import "@/app/variables.scss";

.mainImage{
  width: 100vw;
  height: 58vh;
  position: relative;
  
  img{
    height: auto;
    object-fit: contain;
    width: 100%;
  }
  @media (max-width: 780px) {
    height: 20vh;
  }
}

.heroes {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 65%;
  width: 85%;
  @media (max-width: 1500px) {
    top: 55%;
  }
  @media (max-width: 1200px) {
    top: 50%;
    width: 95%;
  }

  @media (max-width: 780px) {
    width: 85vw;
    margin-top: 180px;
    height: 40vh;
  }
}

.imageContainer {
  cursor: pointer;
  position: relative;
  img {
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    width: 100%;
  }

  &.lira {
    height: $lira;

  }

  &.boros {
    height: $boros;
  }

  &.zephyr {
    height: $zephyr;
  }

  &.kuro {
    height: $kuro;
  }

  &.ragnar {
    height: $ragnar;
  }

  &.nimue {
    height: $nimue;
  }

  &.axel {
    height: $axel;
  }
}



.mobileWrapper {
  display: none;
  @media (max-width: 780px) {
    position: absolute;
    display: flex;
    height: 60vh;
    width: 100vw;
    top: 110px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

  }
}

.imageContainerMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  img {
    max-height: 80%;
    width: auto;

  }

  &.boros {
    margin-left: 80px;
  }

  &.nimue {
    max-height: 80%;
    margin-left: 70px;
  }

  &.axel {
    margin-left: 10px;
  }

}

.leftRow {
  display: none;
  @media (max-width: 780px) {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    margin-top: -30%;
    width: 60px;
    z-index: 3;
    
  }
}
.rightRow {
  display: none;
  @media (max-width: 780px) {
    position: absolute;
    display: flex;
    margin-top: -30%;
    justify-content: center;
    width: 60px;
    right: 0;
    z-index: 3;
  }
}
