$max-width: 1920px;
$text-color: #fff;
$background: linear-gradient(#1d2024, #3d3d3d );


$background-lira: #D7BBF5;
$background-boros: #FFA559;
$background-zephyr: #9AC5F4;
$background-kuro: #DDE6ED;
$background-ragnar: #F45050 ;
$background-nimue: #CCEEBC;
$background-axel: #F2F2F2 ;

$lira: 210px;
$boros: 250px;
$zephyr: 240px;
$kuro: 210px;
$ragnar: 230px;
$nimue: 180px;
$axel: 240px;